.image-editor {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: stretch;

  .settings-container {
    position: relative;
    padding: 20px;
    width: 20vw;
  }

  .settings {
    border-radius: 20px;
    padding: 30px 40px;
    background-color: grey;
    height: 100%;
    box-sizing: border-box;

    h1 {
      margin: 0px;
      margin-bottom: 20px;
    }
  }

  .fancy-image-container {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: rgba(60, 60, 63, 0.45);
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;

    .image-upload {
      position: relative;
      width: 100%;
      height: 100%;

      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }

      .upload-prompt {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 20px;
        transition: all 0.3s;

        svg {
          height: 30px;
        }
      }

      input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }
    }

    .fancy-image {
      --fancy-image-width: 100px;
      --fancy-image-height: 100px;
      --padding: 50px;
      --label-height: 20px;
      position: relative;
      display: inline-block;
      padding: var(--padding);
      background-color: white;
      box-sizing: border-box;

      img {
        max-width: calc(75vw - var(--padding));
        max-height: calc(75vh - var(--padding));
      }

      .tag {
        position: absolute;
        display: flex;
        gap: 10px;
        align-items: center;
        box-sizing: border-box;
        transition: all 0.2s;
        font-size: calc(var(--label-height) / 1.4);

        .icon {
          height: 80%;

          svg {
            height: 100%;
            stroke-width: 2.5px;
          }
        }

        .setting {
          font-weight: 800;
          opacity: 0.8;
        }
      }

      .tag.top,
      .tag.bottom {
        flex-direction: row;
        height: var(--label-height);
        width: calc(100% - var(--padding) * 2);
      }
      .tag.left,
      .tag.right {
        width: calc(var(--fancy-image-height) - var(--padding) * 2);
        height: var(--label-height);
      }

      .tag.top {
        left: var(--padding);
        top: var(--padding);
        transform: translateY(-100%);
      }

      .tag.left {
        transform-origin: top left;
        left: calc(var(--padding) - var(--label-height));
        bottom: calc(var(--padding) - var(--label-height));
        transform: rotate(-90deg);
      }

      .tag.bottom {
        right: var(--padding);
        top: calc(100% - var(--padding));
      }

      .tag.right {
        transform-origin: bottom left;
        left: calc(100% - var(--padding));
        top: calc(var(--padding) - var(--label-height));
        transform: rotate(90deg);
      }
    }
  }
}
