.image-editor {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: stretch;

  .settings-container {
    position: relative;
    width: 300px;
    flex-shrink: 0;

    .settings {
      padding: 30px 40px;
      height: 100%;
      box-sizing: border-box;
      overflow-y: scroll;

      .setting-label {
        border-left: 2px dashed rgb(248, 113, 113);
        padding-left: 10px;
        margin-bottom: 10px;
      }

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }

      &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
      }

      .setting-section-name {
        display: flex;
        gap: 10px;
        align-items: center;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 25px;
      }

      .setting-section-body {
        margin-bottom: 40px;
        padding-left: 20px;
      }

      .label-settings {
        .label-settings-body {
          display: flex;
          flex-direction: column;
          padding-left: 10px;
          overflow: hidden;
          max-height: 170px;
          transition: all 0.3s;

          &.collapsed {
            max-height: 0px;
          }

          label {
            margin-top: 20px;
          }
          .alignments {
            display: flex;

            .alignment {
              display: flex;
              width: 33%;
              padding: 5px;
              border-radius: 10px;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              transition: all 0.2s;

              &.selected {
                background-color: rgba(255, 255, 255, 0.1);
              }

              svg {
                width: 20px;
              }
            }
          }
        }
      }
    }
  }

  .fancy-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;
    padding: 40px 50px;
    box-sizing: border-box;

    .image-upload {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      transition: all 0.2s;

      .upload-prompt {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 20px;

        svg {
          height: 30px;
        }
      }

      input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }
    }

    .fancy-image {
      --fancy-image-width: 100px;
      --fancy-image-height: 100px;
      --padding: 50px;
      --label-height: 20px;
      position: relative;
      display: inline-block;
      padding: var(--padding);
      box-sizing: border-box;

      img {
        max-width: calc(60vw - var(--padding) * 2);
        max-height: calc(80vh - var(--padding) * 2);
      }

      .label {
        position: absolute;
        display: flex;
        gap: 10px;
        align-items: center;
        box-sizing: border-box;
        transition: all 0.2s;
        justify-content: start;
        font-size: calc(var(--label-height) / 1.4);

        .icon {
          height: 80%;

          svg {
            height: 100%;
            stroke-width: 2.5px;
          }
        }

        &.top,
        &.bottom {
          flex-direction: row;
          height: var(--label-height);
          width: calc(100% - var(--padding) * 2);
        }
        &.left,
        &.right {
          width: calc(var(--fancy-image-height) - var(--padding) * 2);
          height: var(--label-height);
        }

        &.top {
          left: var(--padding);
          top: var(--padding);
          transform: translateY(-100%);
        }

        &.left {
          transform-origin: top left;
          left: calc(var(--padding) - var(--label-height));
          bottom: calc(var(--padding) - var(--label-height));
          transform: rotate(-90deg);
        }

        &.bottom {
          right: var(--padding);
          top: calc(100% - var(--padding));
        }

        &.right {
          transform-origin: bottom left;
          left: calc(100% - var(--padding));
          top: calc(var(--padding) - var(--label-height));
          transform: rotate(90deg);
        }

        .setting {
          font-weight: 800;
          opacity: 0.8;
        }
      }
    }
  }
}
